body {
    background-color: #f0f8ff;
    font-family: Courier;
}

.dark {
    background-color: #4e4880;
    color:#f0f8ff
}

header {
    display: flex;
    height: 3vh;
    width: 100vw;
    position: fixed;
    top: 5;
    text-align: center;
    justify-content: space-evenly
}

#darkMode {
    width: 200px;
}

p {
    display: flex;
}

img {
    height: 1000px;
    width: 800px;
    margin-top: 20vh;
}

footer {
    position: fixed;
    right:1cm;
    bottom: 1cm;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
}

#home {
    display: block;
}

#bio {
    display: none;
    text-align: justify;
    margin-top: 20vh;
    max-width: 30vw;
}

#resume {
    display: none;
}

#projects {
    display: none;
}

#darkMode {
    position: relative;
}

#lightMode {
    display: none;
}

#modal {
	/* background-color: rgba(0, 0, 0, 0.1); */
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
}


#modalText {
	/* background-color: white; */
	height: 200px;
	width: 300px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	font-family:Courier;
    text-align: left;
}

.modalDark {
    background-color: #4e4880;
    color: #f0f8ff;
}

#modalFooter {
	text-align: right;
}